@charset "utf-8";

.list .list-title {
    width: 910px;
    height: 50px;
    background-color: #eee;
    border: 1px solid #eee;
    border-bottom: none;
}

.list li {
    float: left;
    font-size: 15px;
}

.list .left a {
    color: #666;
    display: block;
    height: 50px;
    text-align: center;
    width: 140px;
    line-height: 50px;
}

.list .islisthover {
    background-color: white;
    border-top: 2px solid green;
    box-sizing: border-box;
}

.list .right {
    text-align: center;

}

.right li {
    height: 25px;
    margin: 12px;
    width: 50px;
}

.list .right a {
    color: #666;
    display: block;
    height: 25px;
    line-height: 25px;
}
.list .right a:hover,.isSlected a{
    background-color: #458B00;
    color: white!important;
}
/*list-figure*/
.list-figure{
    position: relative;
    height: 230px;
    width: 910px;
    clear: both;
    margin: 20px 0;
    border: 1px solid #eee;
}
.list-figure img{
    height: 230px;
    width: 380px;
}
.list-figure section{
    width: 300px;
    text-align: left;
}
.list-figure h2,.list-figure h3{
    color: #666;
    font-weight: normal;
}
.list-figure h2{
    padding: 10px 0 20px 25px;
}
.list-figure h3{
    font-size: 16px;
    padding: 0 0 20px 25px;
}
.list-figure ol{
    width: 300px;
    list-style: none;
    line-height: 25px;
    padding-left: 25px;
    color: #666;
    font-size: 15px;

}
.list-figure ol mark{
    text-align: center;
    display: inline-block;
    width: 45px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    border: 1px solid green;
    color: green;
    background-color: white;
}
.list-figure footer{
    clear: both;
    padding-left: 25px;
    color: #666;
    padding-top: 20px;
}
.list-figure footer>span{
    color: green;
}
.list-figure .buy{
    width: 152px;
    height: 92px;
    position: absolute;
    right: 0;
    top: 50%;
    margin: -46px 25px 0 0;

}
.type {
    width: 90px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #59b200;
    position: absolute;
    top: 0;
    left: 0;
}
.disc{
    text-align: right;
    width: 52px;
    height: 52px;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/disc.png");
}
.disc span{
    margin-top: 7px;
    display: inline-block;
    color: #FF6600;
    font-size: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buy .price{
    color: #ff6600;
    font-size: 20px;
}
.buy .price strong{
    font-size: 35px;
}
.buy .price s{
    font-size: 16px;
    color: #666666;
    font-weight: normal;
}
.buy .button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color:#ff6600 ;
    font-size: 20px;
    color: white;
    line-height: 40px;
    margin-top: 10px;
}

