@charset "utf-8";

/*public*/
.center {
    margin: 0 auto;
    width: 1263px;
}
/*headline*/
#headline {
    width: 100%;
    min-width: 1263px;
    height: 300px;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), transparent), url("../image/headline.jpg") center no-repeat;
}

#headline .center {
    height: 300px;
}

#headline hgroup {
    padding: 100px 0 0 50px;
}

#headline h2, #headline h3 {
    color: #eee;
}

#headline h2 {
    font-size: 36px;
}

#headline h3 {
    font-size: 20px;
}

/*container*/
#container {
    width: 1263px;
    margin: 30px auto;

}

#container .sidebar {
    width: 340px;

}

/*sidebar*/
.sidebar .sidebox {
    width: 340px;
    margin: 0 0 10px 0;
    border: 1px solid #eee;
}

/*recommand*/
.sidebar .recommand {
    height: 400px;
}

.sidebar h2 {
    font-weight: normal;
    color: #666;
    height: 50px;
    background-color: #FAFAFA;
    line-height: 50px;
    padding: 0 0 0 5px;
    font-size: 20px;
}

.sidebar .tag {
    margin-top: 10px;
    background-color: #777777;

}

.sidebar .tag-link {
    text-align: center;
    margin: 10px;
}

.tag-link > li {
    float: left;
    margin: 3px;

}

.tag-link a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #999;
    background-color: #eee;

}

.tag-link a:hover {
    background-color: #458B00;
    color: white;
}

/*hot*/
.sidebar .hot {
    height: 700px;
}

.hot .figure {
    margin: 10px;
    width: 340px;
}

.hot figure {
    margin: 5px;
    float: left;

}

.figure img {
    width: 152px;
    height: 120px;
}

.figure figcaption {
    text-align: center;
    width: 152px;
    color: #666;
}
/*header*/
#header {
    width: 100%;
    min-width: 1263px;
    height: 70px;
    background-color: #333;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.3);
}

#header div {
    height: 70px;
}

#header h1 {
    background: url("../image/logo.png");
    width: 240px;
    height: 70px;
}

.link {
    margin-right: 10px;
}

.link > li {
    float: left;
    text-align: center;
    line-height: 70px;
}

.link a {
    display: block;
    height: 70px;
    width: 100px;
    color: #eee;;
}

.link a:hover, .ishover {
    background-color: #000;
}
.unhover{
    background-color: #333;
}

/*footer*/
#footer{
    margin-top:50px;
    clear: both;
    width: 100%;
    min-width: 1263px;
    height: 360px;
    background-color: #222;
}
#footer .top{
    height: 280px;
}
#footer .bottom{
    background-color: black;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #777;
    border-top: 1px solid #444;
}
#footer .block{
    height: 280px;
    width: 410px;


}
#footer .center{
    margin: 0 auto;
}
.block h2{
    font-size: 24px;
    color: #ccc;
    font-weight: normal;
    padding: 20px 0 0 20px;
}
.block hr{
    border: 1px dashed #333;
    width: 90%;
}
.block ul{
    font-size: 18px;
    color: #777;
    text-indent: 20px;
}
.block li,.block a{
    line-height: 36px;
    color: #777;
}
#scenery,#about,#travel_infor,#booked{
    clear: both;
}
/*list*/
#container .list {
    width: 910px;
    text-align: center;


}

/*treasure*/
.sidebar .treasure {
    height: 180px;
}

.treasure ul {
    margin: 10px;
}

.treasure li {
    float: left;
}

.treasure a {
    text-align: center;
    display: inline-block;
    height: 50px;
    width: 154px;
    margin: 3px;
    background: #eee url("../image/trea1.png") no-repeat 10px center;
    line-height: 50px;
    color: #999;
}

.treasure a:hover {
    background-color: #BFBFC1;
    color: white;
}

.all-title{
    text-align: left;
    font-size: 30px;
    border-bottom: 1px dashed #999;
    padding-bottom: 20px;
    font-weight: normal;
    color: #666;

}